.more-screen .icon-raw {
    margin-top: 35px;
}

.more-suggestions {
    margin-top: 50px;
    padding-top: 40px;
    border-top: var(--main-border);
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icons {
    display: flex;
    justify-content: space-between;

} 

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.more-suggestons__img {
    width: 60px;
    height: 60px;
}

.more-suggestions__icon-text {
    display: block;
    margin: 5px 15px;
    color: rgba(0, 0, 0, 0.7);
}
