.nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(220, 220, 220);
    padding: 20px 0px;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__link {
    position: relative;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    60% {
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    position: absolute;
    left: 18px;
    bottom: 20px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__dot {
    background-color: rgba(100, 100, 100, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 28px;
    bottom: 25px;
}

@keyframes appearBtnAnimation {
    from {
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__btn {
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtnAnimation 0.5s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
    animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
    animation-delay: 0.4s;
}

.nav__btn:last-child {
    animation-delay: 0.6s;
}